<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>::index::</title>
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
      @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

      html,
      body {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
      }

      table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        table-layout: fixed !important;
        margin: 0 auto !important;
      }
      .footer-icons td a {
        color: #ffffff;
        font-size: 20px;
      }

      body {
        margin: 0;
      }

      @media screen and (max-width: 619px) {
        table {
          width: 100% !important;
        }

        table.footer-table tr td {
          width: 100%;
        }
      }
    </style>
  </head>

  <body
    style="padding: 0; margin: 0px; font-size: 14px; background-color: #fff"
  >
    <div class="table-main">
      <table
        cellpadding="0"
        cellspacing="0"
        Align="center"
        style="
          color: #212121;
          background-color: #fff;
          width: 680px;
          border-collapse: collapse;
          border: 1px solid #dddd;
        "
      >
        <tbody>
          <!--logo-->
          <tr>
            <td
              style="
                padding: 15px 0;
                text-align: center;
                background-color: #1c2c38;
              "
            >
              <img
                src="http://novobet.io/assets/images/novobet_logo.png"
                alt="logo"
                Border="0"
                width="145px"
              />
            </td>
          </tr>

          <!--enf of logo-->
          <tr>
            <td
              bgColor="#203643"
              Align="center"
              height="100%"
              vAlign="top"
              width="100%"
              style="
                padding: 10px 0;
                background-repeat: no-repeat;
                background-size: cover;
              "
            >
              <table
                Border="0"
                cellpadding="0"
                cellspacing="0"
                Align="center"
                width="100%"
                style="max-width: 660px"
              >
                <tbody>
                  <tr>
                    <td Align="center" vAlign="top">
                      <div
                        style="
                          display: inline-block;
                          max-width: 80%;
                          vertical-align: top;
                          width: 100%;
                        "
                        class="stack-column"
                      >
                        <table
                          cellspacing="0"
                          cellpadding="0"
                          Border="0"
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  cellspacing="0"
                                  cellpadding="0"
                                  Border="0"
                                  width="100%"
                                  style="font-size: 14px; text-align: left"
                                >
                                  <tbody>
                                    <tr>
                                      <td style="height: 8px"></td>
                                    </tr>
                                    <tr>
                                      <td
                                        style="
                                          font-weight: bold;
                                          text-align: center;
                                          font-size: 18px;
                                          color: #fff;
                                          text-transform: uppercase;
                                        "
                                      >
                                        Welcome to Novo Bet
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="height: 8px"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0 30px">
              <table cellpadding="0" cellspacing="0" width="100%" Border="0">
                <tr>
                  <td style="height: 40px"></td>
                </tr>
                <tr>
                  <td
                    style="
                      border: 0;
                      font-size: 16px;
                      line-height: 24px;
                      color: #212121;
                      font-family: sans-serif;
                    "
                  >
에게 <b><%= data.name %></b>,
                  </td>

                </tr>
                <tr>
                <td
                    style="
                      border: 0;
                      font-size: 16px;
                      line-height: 24px;
                      color: #212121;
                      font-family: sans-serif;
                    "
                  >
                    우리와 연결해주셔서 감사합니다! 인증을 완료하려면 다음
                    코드를 사용하세요:
                    </td>
    </tr>
    <tr>
                  <td style="height: 10px"></td>
                </tr>
    <tr>
    <td
                    style="
                      border: 0;
                      font-size: 16px;
                      line-height: 24px;
                      color: #212121;
                      font-family: sans-serif;
                    "
                  >
                    <b><%= data.code %></b>
                  </td>
    </tr>
    <tr>
                  <td style="height: 10px"></td>
                </tr>
                <tr>
                <td
                    style="
                      border: 0;
                      font-size: 16px;
                      line-height: 24px;
                      color: #212121;
                      font-family: sans-serif;
                    "
                  >
                  이 코드는 앞으로 3분 동안 유효합니다. 이 코드를 누구와도 공유하지 마세요.
                    </td>
    </tr>
                <tr>
                  <td style="height: 10px"></td>
                </tr>
                <tr>
                  <td
                    style="
                      border: 0;
                      font-size: 16px;
                      line-height: 24px;
                      color: #212121;
                      font-family: sans-serif;
                    "
                  >
                  이 확인을 요청하지 않은 경우 다음 주소로 즉시 지원팀에 문의하세요: <b>support@novobet.io</b>
    </td>
    </tr>

                    <tr>
                      <td style="height: 40px"></td>
                    </tr>

                    <tr>
                      <td class="pd-0">
                        <table
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          Border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  border: 0;
                                  font-size: 16px;
                                  line-height: 24px;
                                  color: #212121;
                                  font-family: sans-serif;
                                "
                              >

따뜻한 감사 인사
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td class="pd-0">
                        <table
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          Border="0"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <span
                                  style="
                                    border: 0;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #212121;
                                    font-family: sans-serif;
                                    font-weight: bold;
                                  "
                                >
                                노보벳</span
                                >
                                <span
                                  style="
                                    border: 0;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #212121;
                                    font-family: sans-serif;
                                  "
                                  >팀
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td style="height: 40px"></td>
                    </tr>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="background: #1c2c38">
              <table
                class="footer-table"
                cellspacing="0"
                cellpadding="0"
                Border="0"
                Align="center"
                width="100%"
              >
                <tr>
                  <td style="background: #203643">
                    <table
                      class="footer-table"
                      cellspacing="0"
                      cellpadding="0"
                      Border="0"
                      Align="center"
                      width="100%"
                      style="max-width: 680px"
                    >
                      <tr>
                        <td style="height: 20px"></td>
                      </tr>
                      <tr>
                        <td
                          style="
                            border: 0;
                            text-align: center;
                            word-wrap: break-word;
                            font-size: 14px;
                            color: #fff;
                          "
                        >
                          <span style="font-size: 14px; color: #fff"
                            >Visit us:</span
                          >
                          <a
                            href="https://www.novobet.io"
                            style="
                              border: none;
                              color: #fff;
                              text-decoration: none;
                            "
                            >https://www.novobet.io</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 5px"></td>
                      </tr>
                      <tr>
                        <td
                          style="
                            border: 0;
                            text-align: center;
                            word-wrap: break-word;
                            font-size: 14px;
                            color: #fff;
                          "
                        >
                          <span style="font-size: 14px; color: #fff">
                            Facebook:</span
                          >
                          <a
                            href="https://www.facebook.com/novobet"
                            style="
                              border: none;
                              color: #fff;
                              text-decoration: none;
                            "
                            >https://www.facebook.com/novobet</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td style="height: 5px"></td>
                      </tr>

                      <tr>
                        <td
                          style="
                            border: 0;
                            text-align: center;
                            word-wrap: break-word;
                            font-size: 14px;
                            color: #fff;
                          "
                        >
                          <span style="font-size: 14px; color: #fff">
                            Email:</span
                          >
                          <a
                            href="support@novobet.io"
                            style="
                              border: none;
                              color: #fff;
                              text-decoration: none;
                            "
                          >
                          support@novobet.io
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 20px"></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="height: 20px"></td>
                </tr>

                <tr>
                  <td>
                    <table
                      cellspacing="0"
                      cellpadding="0"
                      Border="0"
                      Align="center"
                      style="width: 190px !important"
                    >
                      <tr class="footer-icons">
                        <td>
                          <a href="#"
                            ><i class="fa-brands fa-facebook-f"></i
                          ></a>
                        </td>
                        <td>
                          <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </td>
                        <td>
                          <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="height: 20px"></td>
                </tr>

                <tr>
                  <td style="padding: 0px 15px">
                    <table
                      cellspacing="0"
                      cellpadding="0"
                      Border="0"
                      Align="center"
                      width="100%"
                    >
                      <tr>
                        <td style="text-align: center">
                          <span
                            class="copyright-text"
                            style="
                              border: none;
                              color: #fff;
                              text-decoration: none;
                              font-size: 13px;
                            "
                            >Copyright © 2024. All Rights Reserved.</span
                          >
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="height: 20px"></td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- Email Footer : END -->
        </tbody>
      </table>
    </div>
  </body>
</html>
